{% extends 'seminar2_app/index.html' %}

{% block title %} Продукты {% endblock %}

{% block content %}
<h2>Products List</h2>
<ul>
    {% for product in products %}
        <li>
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 200px; max-height: 200px;">
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}